<a href="https://colab.research.google.com/github/Jonatala/Covid19Project/blob/training/practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num1 = [2, 3, 4]
num2 = [10, 20, 30]

In [2]:
output = []
for x in num1:
  for y in num2:
    output.append(x*y)

In [3]:
output

[20, 40, 60, 30, 60, 90, 40, 80, 120]

In [4]:

FN = input("first name: ")
Age = input("Enter your age: ")
print(f'{FN}, you are {Age} years old')

first name: g
Enter your age: j
g, you are j years old

In [5]:
print(FN, 'you are', Age, 'years old')

g you are j years old

In [6]:
my_set = {5, 6, 7}

In [7]:
my_set.add(8)

In [8]:
my_set

{5, 6, 7, 8}

In [9]:
FN.split('a')

['g']

In [10]:
dict1 = {'Ten' : 10, 'Twenty' : 20, 'Thirty': 30}
dict2 = {'Thirty' : 30, 'Fourty' : 40, 'Fifty' : 50}

In [11]:
dict1.update(dict2)

In [12]:
dict1

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [13]:
dict1.keys()

dict_keys(['Ten', 'Twenty', 'Thirty', 'Fourty', 'Fifty'])

In [16]:
dict3 = {'Ten' : 10, 'Twenty' : 20, 'Thirty': 30}
dict4 = {'Thirty' : 30, 'Fourty' : 40, 'Fifty' : 50}

In [23]:
for key in dict4.keys():
  dict3[key] = dict4[key]

In [24]:
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50, 'Sixty': 60}

In [19]:
dict4[key]

50

In [22]:
dict3['Sixty'] = 60

In [25]:
for key in dict4.keys():
  print(key)

Thirty
Fourty
Fifty

In [27]:
sample_dict = {
    'emp1': {'name' : 'john', 'salary' : 7500},
    'emp2': {'name' : 'emma', 'salary' : 8000},
    'emp3': {'name' : 'Brad', 'salary' : 500}
}

In [32]:
sample_dict['emp3']['salary'] = 8500

In [33]:
sample_dict

{'emp1': {'name': 'john', 'salary': 7500},
 'emp2': {'name': 'emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [48]:
num = int(input())

12

In [49]:
for i in range(1, num +1):
  print(f'current number is : {i} and the cube is {i**3}')

current number is : 1 and the cube is 1
current number is : 2 and the cube is 8
current number is : 3 and the cube is 27
current number is : 4 and the cube is 64
current number is : 5 and the cube is 125
current number is : 6 and the cube is 216
current number is : 7 and the cube is 343
current number is : 8 and the cube is 512
current number is : 9 and the cube is 729
current number is : 10 and the cube is 1000
current number is : 11 and the cube is 1331
current number is : 12 and the cube is 1728

In [64]:
def myname(name):
  print(name.upper())

In [65]:
myname('david')

DAVID

In [67]:
gen = (i ** 2 for i in range(5))

In [74]:
next(gen)

16